# ====================
# Java & Maven
# ====================
*.class
*.jar
*.war
*.log
*.tmp
hs_err_pid*

# Maven build output
/target/

# Maven Wrapper (필요 시 제외 가능)
/.mvn/
mvnw
mvnw.cmd

# ====================
# Eclipse
# ====================
.classpath
.project
.settings/
.tern-project

# ====================
# OS-specific
# ====================
.DS_Store
Thumbs.db

# ====================
# IDE-specific (선택)
# ====================
.idea/
*.iml