# ====================
# Java & Maven
# ====================
*.class
*.jar
*.war
*.log
*.tmp
hs_err_pid*

# Maven build output
/target/

# ====================
# Eclipse
# ====================
.classpath
.project
.settings/
.tern-project

# ====================
# OS-specific
# ====================
.DS_Store
Thumbs.db

# ====================
# IDE-specific (선택)
# ====================
.idea/
*.iml

.env